/* ===== Allgemeine Layout- und Textstile ===== */
body {
    font-size: 18px;
    color: #222;
    background: #d3ebf8;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 5em;
}

body {
    line-height: 1.6;
    letter-spacing: 0.02em;

    main {
        margin-top: 2em;
        margin-bottom: 4em;

        section {
            margin-bottom: 3em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* ===== Überschriften ===== */
h1 {
    font-size: 3.5em;
    color: #fa7821;
    font-weight: bold;
    margin: 0.10em 0;
}

h2 {
    font-size: 2em;
    color: #61b15a;
    font-weight: bold;
    margin: 0.67em 0;
}

/* ===== Texttyp: Größe & Farbe ===== */
p {
    font-size: 1.1em;
    color: #333;
}

.anm {
    font-size: 0.8em;
    border-radius: 2px;
    font-style: italic;
}

.groesser {
    font-size: 1.5em;
    border-radius: 10px;
}

.kleiner {
    font-size: 0.8em;
    border-radius: 10px;
}



/* ===== Textformatierung ===== */
.fett {
    font-weight: bold;
}

.kursiv {
    font-style: italic;
}

.unterstrichen {
    text-decoration: underline;
}

/* ===== Sonstige Stile ===== */
/* Datum rechts-klein */
.d-r-k {
    font-size: 0.85em;
    font-style: italic;
    text-align: right;
    display: block;
    color: #666;
}

.zentriert {
    text-align: center;
}
